<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>461692026092-8bb22dta5d8updjrp78kf0o3rcdca7e3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.461692026092-8bb22dta5d8updjrp78kf0o3rcdca7e3</string>
	<key>API_KEY</key>
	<string>AIzaSyBayikvs9LXFtKCPlDUO3zsIK8Q4kXd-Yc</string>
	<key>GCM_SENDER_ID</key>
	<string>461692026092</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Teru.inc.RxTodoApp</string>
	<key>PROJECT_ID</key>
	<string>instagramapp-ca8e2</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramapp-ca8e2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:461692026092:ios:6bcd0d20041b3d6666b9c9</string>
	<key>DATABASE_URL</key>
	<string>https://instagramapp-ca8e2.firebaseio.com</string>
</dict>
</plist>